.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header .options {
  display: flex;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
